<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mpx_web>
            <default>
                <enable>1</enable>
            </default>
        </mpx_web>
        <timeslot>
            <configurations>
                <active>1</active>
            </configurations>
        </timeslot>
        <marketplace>
            <general_settings>
                <adminemail>noreply@x-shopping-st.com</adminemail>
            </general_settings>
            <layout_settings>
                <logo>default/x_logo_wh.svg</logo>
                <is_separate_panel>1</is_separate_panel>
            </layout_settings>
            <product_flag>
                <status>0</status>
            </product_flag>
            <seller_flag>
                <status>0</status>
            </seller_flag>
            <product_settings>
                <allow_for_seller>simple,configurable</allow_for_seller>
            </product_settings>
            <landingpage_settings>
                <allow_seller_registration_block>0</allow_seller_registration_block>
            </landingpage_settings>
        </marketplace>
        <carriers>
            <webkulshipping>
                <active>1</active>
            </webkulshipping>
        </carriers>
        <tax>
            <calculation>
                <price_includes_tax>1</price_includes_tax>
                <shipping_includes_tax>1</shipping_includes_tax>
                <discount_tax>1</discount_tax>
                <cross_border_trade_enabled>1</cross_border_trade_enabled>
            </calculation>
            <defaults>
                <country>JP</country>
            </defaults>
            <display>
                <type>2</type>
                <shipping>2</shipping>
            </display>
            <cart_display>
                <price>2</price>
                <subtotal>2</subtotal>
                <shipping>2</shipping>
            </cart_display>
            <sales_display>
                <price>2</price>
                <subtotal>2</subtotal>
                <shipping>2</shipping>
            </sales_display>
        </tax>
        <multishipping>
            <options>
                <checkout_multiple>0</checkout_multiple>
            </options>
        </multishipping>
        <catalog>
            <review>
                <active>0</active>
                <allow_guest>0</allow_guest>
            </review>
        </catalog>
        <newsletter>
            <general>
                <active>0</active>
            </general>
        </newsletter>
    </default>
</config>
