<?xml version="1.0"?>
<!-- /**
 * Mpx Software.
 *
 * @category  Mpx
 * @package   Mpx_MpAssignProduct
 * @author    Mpx
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\MpAssignProduct\Helper\Data" type="Mpx\MpAssignProduct\Helper\Data" />
</config>
