<?xml version="1.0"?>
<!--
/**
 * Mpx Software.
 *
 * @category  Mpx
 * @package   Mpx_InventoryShippingAdminUi
 * @author    Mpx
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mpx_InventoryShippingAdminUi" />
</config>
