<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketplace>
            <general_settings>
                <percent>0</percent>
            </general_settings>
            <profile_settings>
                <seller_policy_approval>1</seller_policy_approval>
            </profile_settings>
        </marketplace>
        <carriers>
            <yamato_transport>
                <title>ヤマト運輸</title>
                <model>Mpx\Marketplace\Model\Carrier\YamatoTransport</model>
            </yamato_transport>
            <sagawa_express>
                <title>佐川急便</title>
                <model>Mpx\Marketplace\Model\Carrier\SagawaExpress</model>
            </sagawa_express>
            <japan_post>
                <title>日本郵便</title>
                <model>Mpx\Marketplace\Model\Carrier\JapanPost</model>
            </japan_post>
            <seino_transportation>
                <title>西濃運輸</title>
                <model>Mpx\Marketplace\Model\Carrier\SeinoTransportation</model>
            </seino_transportation>
            <seino_super_express>
                <title>セイノースーパーエクスプレス</title>
                <model>Mpx\Marketplace\Model\Carrier\SeinoSuperExpress</model>
            </seino_super_express>
            <fukuyama_transporting>
                <title>福山通運</title>
                <model>Mpx\Marketplace\Model\Carrier\FukuyamaTransporting</model>
            </fukuyama_transporting>
            <meitetsu_transport>
                <title>名鉄運輸</title>
                <model>Mpx\Marketplace\Model\Carrier\MeitetsuTransport</model>
            </meitetsu_transport>
            <tonami_transport>
                <title>トナミ運輸</title>
                <model>Mpx\Marketplace\Model\Carrier\TonamiTransport</model>
            </tonami_transport>
            <daiichi_freight>
                <title>第一貨物</title>
                <model>Mpx\Marketplace\Model\Carrier\DaiichiFreight</model>
            </daiichi_freight>
            <niigata_unyu>
                <title>新潟運輸</title>
                <model>Mpx\Marketplace\Model\Carrier\NiigataUnyu</model>
            </niigata_unyu>
            <chuetsu_group>
                <title>中越運送</title>
                <model>Mpx\Marketplace\Model\Carrier\ChuetsuGroup</model>
            </chuetsu_group>
            <okayama_shipping>
                <title>岡山県貨物運送</title>
                <model>Mpx\Marketplace\Model\Carrier\OkayamaShipping</model>
            </okayama_shipping>
            <kurume_transport>
                <title>久留米運送</title>
                <model>Mpx\Marketplace\Model\Carrier\KurumeTransport</model>
            </kurume_transport>
            <sanyo_auto_delivery>
                <title>山陽自動車運送</title>
                <model>Mpx\Marketplace\Model\Carrier\SanyoAutoDelivery</model>
            </sanyo_auto_delivery>
            <nx_transport>
                <title>NXトランスポート</title>
                <model>Mpx\Marketplace\Model\Carrier\NXTransport</model>
            </nx_transport>
            <eco_distribution>
                <title>エコ配</title>
                <model>Mpx\Marketplace\Model\Carrier\EcoDistribution</model>
            </eco_distribution>
            <ems>
                <title>EMS</title>
                <model>Mpx\Marketplace\Model\Carrier\EMS</model>
            </ems>
            <nippon_express>
                <title>日本通運</title>
                <model>Mpx\Marketplace\Model\Carrier\NipponExpress</model>
            </nippon_express>
            <tnt>
                <title>TNT</title>
                <model>Mpx\Marketplace\Model\Carrier\Tnt</model>
            </tnt>
            <ocs>
                <title>OCS</title>
                <model>Mpx\Marketplace\Model\Carrier\OCS</model>
            </ocs>
            <sf_express>
                <title>SFエクスプレス</title>
                <model>Mpx\Marketplace\Model\Carrier\SFExpress</model>
            </sf_express>
            <aramex>
                <title>Aramex</title>
                <model>Mpx\Marketplace\Model\Carrier\Aramex</model>
            </aramex>
            <sgh_global_japan>
                <title>SGHグローバル・ジャパン</title>
                <model>Mpx\Marketplace\Model\Carrier\SGHGlobalJapan</model>
            </sgh_global_japan>
        </carriers>
    </default>
</config>
