<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <group id="recommended_solutions" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <fieldset_css>paypal-top-section paypal-recommended-header</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                <group id="paypal_checkout" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal Checkout</label>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypal_checkout/active</config_path>
                    </field>
                    <field id="sandbox_flag" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                        <label>Sandbox  Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <attribute type="shared">1</attribute>
                        <config_path>payment/paypal_checkout/sandbox_flag</config_path>
                    </field>
                    <field id="client_id" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                        <label>Client ID</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paypal_checkout/client_id</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Mpx\PaypalCheckout\Model\Config\Source\PaymentAction</source_model>
                        <config_path>payment/paypal_checkout/payment_action</config_path>
                    </field>
                    <field id="title" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Title</label>
                        <config_path>payment/paypal_checkout/title</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="96" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/paypal_checkout/sort_order</config_path>
                    </field>
                    <field id="debug_mode" type="select" sortOrder="97" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Debug  Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypal_checkout/debug_mode</config_path>
                    </field>
                    <field id="enabled_card" type="select" sortOrder="98" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Enabled Credit Card</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypal_checkout/enabled_card</config_path>
                    </field>
                    <field id="credit_card_title" type="text" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Credit Card Title</label>
                        <config_path>payment/paypal_checkout/credit_card_title</config_path>
                    </field>
<!--                    <field id="authorization_period" type="text" sortOrder="130" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--                            <label>Authorization Period</label>-->
<!--                        <config_path>payment/paypaljs/authorization_period</config_path>-->
<!--                        <validate>validate-number</validate>-->
<!--                    </field>-->
<!--                    <field id="honor_period" type="text" sortOrder="140" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--                        <label>Honor Period</label>-->
<!--                        <config_path>payment/paypaljs/honor_period</config_path>-->
<!--                        <validate>validate-number</validate>-->
<!--                    </field>-->
                </group>
            </group>
        </section>
    </system>
</config>
